<div class="container">
  <h1>A simple web app</h1>
  <h1>Order by</h1>
  <select [(ngModel)]="selected">
    <option value="-1">Select field to sort</option>
    <option value="{{ s }}" *ngFor="let s of selections">{{ s }}</option>
  </select>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Birthday</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of (data | orderBy: selected)">
        <td>{{ p.id }}</td>
        <td>{{ p.firstName }}</td>
        <td>{{ p.lastName }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.birthday | date: 'dd/MM/yyyy' }}</td>
        <td>{{ p.salary }}</td>
        <td>{{ p.phone | phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
